/* line 5, ../../../../.rvm/gems/ruby-1.9.3-p545/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../.rvm/gems/ruby-1.9.3-p545/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../.rvm/gems/ruby-1.9.3-p545/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../.rvm/gems/ruby-1.9.3-p545/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../.rvm/gems/ruby-1.9.3-p545/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../.rvm/gems/ruby-1.9.3-p545/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../.rvm/gems/ruby-1.9.3-p545/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../.rvm/gems/ruby-1.9.3-p545/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../.rvm/gems/ruby-1.9.3-p545/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 4, ../sass/style.scss */
body {
  font-size: 62.5%;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #f4f3f1;
}

h1 {
  font-size: 36px;
  padding: 10px;
}

h2 {
  font-size: 17px;
  padding: 0px;
}

h4 {
  padding: 4px;
  font-weight: bold;
  font-size: 24px;
}

h5 {
  font-weight: bold;
  font-size: 20px;
  color: #666666;
}

.wraper {
  width: 1440px;
  margin: 0 auto;
}

.head {
  width: 1440px;
  height: 855px;
  color: #FFFFFF;
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(../images/top.jpg);
}

.float_l {
  float: left;
}

.float_r {
  float: right;
}

.float_n {
  clear: both;
  display: block;
}

.logo {
  margin-left: 193px;
  margin-top: 28px;
  font-size: 48px;
}

.login {
  margin-top: 32px;
  margin-right: 180px;
  font-size: 16px;
}

.link1 {
  margin-right: 15px;
  text-decoration: none;
  color: #FFFFFF;
}

.border1 {
  padding: 8px 20px;
  border-style: solid;
  border-color: #FFFFFF;
  border-width: 1px;
  border-radius: 4px;
}

.title {
  padding-top: 210px;
  text-align: center;
}

.search {
  width: 510px;
  height: 40px;
  padding: 10px;
  border-width: 0;
  margin: 32px 0;
  background-color: rgba(255,255,255,0.3);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  color: #FFFFFF;
}

.searchbutton {
  width: 120px;
  height: 60px;
  padding: 0;
  background-color: #67ddab;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-width: 0;
  color: #FFFFFF;
  position: relative;
  left: -5px;
}

.border2{
  border-style: solid;
  border-color: #DDDDDD;
  border-width: 1px;
  border-radius: 5px;
}

.data {
  position: relative;
  top:-100px;
  display: inline-block;
  margin: 0 auto;
  text-align: center;
  font-size: 20px;
  background-color: #f4f3f1;
}

.datacol{
  width: 265px;
  padding: 40px 0;
  border-right-style: solid;
  border-color: #DDDDDD;
  border-width: 1px;
}

.datacol2{
  width: 265px;
  padding: 40px 0;
}

p.num {
  border-style: solid;
  border-width: 1px;
  border-radius: 25px;
  border-color: #dad9d9;
  width: 25px;
  height: 25px;
  padding: 3px;
  margin: 0 auto;
  font-size: 20px;
  line-height: 25px;
  color: #999999;
  background-color: #FFFFFF;
}

p.words {
  margin-top: 8px;
  padding: 5px;
  font-size: 13px;
  color: #999999; 
  line-height: 18px;
}

.margin_center {
  margin: 0 auto;
}

.container {
  width: 80rem;
  text-align: center;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.shortline {
  width: 45px;
  margin-top: 15px;
  border-top-style: solid;
  border-width: 3px;
  border-color: #e6e6e6;
}

.middleline {
  margin: 0 auto;
  width: 800px;
  border-top-style: solid;
  border-width: 1px;
  border-color: #dad9d9;
  position: relative;
  top: 58px;
  z-index: -1;
}

.pic1 {
  margin-top: 30px;
  margin-bottom: 12px;
}

.row1 {
  margin-top: 30px;
}

.col2 {
  width: 300px;
  margin-left: 80px;
  padding: 10px;
  margin-bottom: 170px;
}

.line1 {
  float: none;
  display: block;
  width: 1440px;
  height: 1px;
  border-top-style: solid;
  border-width: 1px;
  border-color: #dad9d9;
  position: relative;
  left: -80px;
  top: 400px;
  padding-bottom: 30px;
}

.line {
  float: none;
  display: block;
  width: 1440px;
  height: 130px;
  border-top-style: solid;
  border-width: 1px;
  border-color: #dad9d9;
  position: relative;
  left: -80px;
  top: 85px;
  padding-bottom: 30px;
}

.title3 {
  padding-top: 50px;
}

.col3 {
  margin: 60px;
}

.row2 {
  padding: 20px;
  height: 100px;
  width: 460px;
  text-align: left;
}

.pic2 {
  width: 40px;
  height: 40px;
}

.pragh2 {
  padding-left: 30px;
  width: 390px;
}

.radiobutton {
  width: 186px;
  height: 60px;
  padding: 0;
  background-color: #67ddab;
  border-width: 0;
  color: #FFFFFF;
}

.feet {
  width: 1440px;
  height: 280px;
  color: #FFFFFF;
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(../images/bottom.jpg);
}

